.carousel {
    width: 100%;
    height: 100%;
    color: #333;
    display: flex;
    flex-direction: column;
}

.carousel__img {
    justify-content: center;
    display: flex;
    flex-grow: 1;
    height: 54%;
    padding: 10px;
}

.carousel__content {
    height: 45%;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    background-color: #fff;
    border-radius: 40px;
    border-top-right-radius: 40px 25px;
    border-top-left-radius: 40px 25px;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    overflow: hidden;
}

.carousel__slider {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.carousel__slider::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    display: none;
}

.carousel__slider::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.carousel__slider::-webkit-scrollbar-track {
    background: transparent;
}

.carousel__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    outline: none;
}

.carousel__item:focus {
    outline: none;
}


.carousel__title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.0rem;
}

.carousel__text {
    font-family: 'Open Sans', sans-serif;
    color: #aaa;
}

.carousel__title,
.carousel__text {
    font-weight: bold;
    text-align: center;
}

.carousel__btn {
    --glow-effect: 0 0 50px 15px rgba(3, 165, 209, .1);

    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-image: linear-gradient(149deg, rgb(214, 243, 239), var(--primary-color));
    box-shadow: var(--glow-effect);
    margin: 25px 10px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: transform .4s ease;

    /* needed for ripple effect*/
    position: relative;
}

.carousel__btn--primary {
    color: #fff;
}

.carousel--loading .carousel__title,
.carousel--loading .carousel__text {
    background-color: #eee;
    height: 30px;
    width: 50%;
    border-radius: 4px;

    /* loading animation */
    background-image: linear-gradient(90deg,#e4e4e4 0%,#f1f1f1 40%,#ededed 60%,#e4e4e4 100%);
    background-position: 0px 0px;
    background-repeat: repeat;
    animation: holder-loading 10s ease-in-out infinite;
}

.carousel--loading .carousel__text {
    width: 65%;
}

.carousel--loading .carousel__btn {
    background: #eee;
    box-shadow: none;
}

.carousel--loading .loader {
    display: block;
}

.carousel--loading .carousel__img img {
    display: none;
}
